:root {
    --main-color: #9747ff;
    --black: hsl(0, 0%, 13%);
    --main-font: "Helvetica Neue", sans-serif;
}

#root {
    margin: 0 auto;
    text-align: center;
    font-family: var(--main-font);
    color: var(--black);
}

#logo {
    position: fixed;
    top: 28px;
    left: 50%;
    transform: translate(-50%);
    z-index: 10;
}
